/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#FFFFFF !important;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/Logo.png) no-repeat center top; /* 170px x 200px */
    text-align:center;
    height:100%;
    width:100%;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.topbar{
	padding-top:30px;
	padding-bottom:30px;
}

.lastupdate
{
	padding-top:10px;
	text-align:center;
	float:left;
	width: 80%;
}

.logo {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
	margin:0px auto;
    height:107px;
    width:280px;
	margin-top:20px;
}

.logotext {
    text-align:center;
	font-weight:bold;
	font-size: 1.2em;
	color:#666;
	margin-bottom:30px;
}
	
.mainchoice {
	margin-top:10px;
	margin-bottom:10px;
    text-align:center;
}


footer {
	background-color: #007ef6;
    display: table;
    height: 63px;
    width: 100%;
}
footer li {
    display: table-cell;
    height: 63px;
    width: 25%;
    text-align: center;
	white-space: nowrap;
}

.pagestatus {
    background:url(../img/page_status.png) no-repeat center top;
	margin:0px auto;
	width: 200px;
	height: 84px;
	margin-bottom: 20px;
}

.pagerelay {
    background:url(../img/page_relays.png) no-repeat center top;
	margin:0px auto;
	width: 200px;
	height: 84px;
	margin-bottom: 20px;
}

.pagehistory {
    background:url(../img/page_history.png) no-repeat center top;
	margin:0px auto;
	width: 200px;
	height: 84px;
	margin-bottom: 20px;
}

.pagesettings {
    background:url(../img/page_settings.png) no-repeat center top;
	margin:0px auto;
	width: 200px;
	height: 84px;
	margin-bottom: 20px;
}

.paramstable {
    display: table;
    height: 63px;
    width: 100%;
}

.paramstable li {
    display: table-cell;
    height: 63px;
    width: 100%;
    text-align: center;
	white-space: nowrap;
}

.paramslabel{
	font-size:1.3em;
	font-weight:bold;
	float: left;
	width:50%;
	text-align:right;
	padding-right: 20px;
	padding-top: 2px;
}

.paramsvalue{
	font-size:1.5em;
	font-weight:bold;
	color: #007ef6;
}

.relaylabel{
	font-size:1.1em;
	font-weight:bold;
	padding-top: 18px;
	height:30px !important;
}

.relayvalue{
	padding-right: 10px;
	font-size:1.5em;
	font-weight:bold;
	color: #007ef6;
	float: left;
	min-width:150px !important;
	height:30px !important;
}

.relaystatus{
	float: left;
	padding-top: 18px;
	height:30px !important;
	width: 35px !important;
}

.refreshbutton{
	cursor:pointer;
	padding:3px !important;	
	margin-top:3px !important;
	margin-right:3px !important;
}

.refreshicon{
	cursor:pointer;
	padding:3px !important;	
}

.ui-content, .ui-mobile, .ui-page-theme-a, .ui-panel-wrapper {
    background-color:#FFFFFF !important;
}

.ui-li-static{
	padding:0 !important;
}

h3 {
	margin:0 !important;
}

.mintab{
	min-width:33%;
}

.hiddentab{
	display:none;
}

.relaybutton{
	padding: 3px 12px 3px 12px !important;
	font-size: .6em !important;
}

.controllerselect{
	margin:0px !important;
	padding:0px !important;
}

.ui-select{
	margin:3px !important;
}